@media  (max-width: 767px) {
    .header {
        &__logo {
            width: 180px;
        }
        &__phone {
            font-size: 16px;
        }
    }
}
@media  (max-width: 575px) {
    .header {
        flex-direction: column;

        &__logo {
            width: 250px;
        }
        &__official {
            margin: 10px 0;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .button {
            width: 155px;
            height: 34px;
            font-size: 14px;
        }
    }
    .promo {

        &__wrapper {
            align-items: center;
        }
        &__header {
            margin-top: 40px;
            font-size: 31px;
            // text-align: center;
        }
        &__supheader {
            font-size: 19px;
            // text-align: center;
        }
        &__icons {
            flex-direction: column;
            width: 150px;
            margin: 5px auto 0 auto;
        }
        &__icon {
            margin: 10px 0;
        }
    }
    .button_main {
        width: 250px;
        height: 45px;
        font-size: 14px;
        margin: 10px auto 0 auto;
    }
}