.promo {
    min-height: 650px;
    width: 100%;
    padding: 21px 0 93px 0;
    background: url(../../img/bg.png) center center/cover no-repeat;

    &__header {
        font-weight: 700;
        font-size: 42px;
        color: #FFFFFF;
        margin: 85px 0 0px 0;
    }
    &__supheader {
        font-weight: 500;
        font-size: 24px;
        color: #FFFFFF;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__icons {
        display: flex;
        margin: 60px 0 65px 0;
        width: 424px;
        justify-content: space-between;
        color: white;
        text-align: center;

        img {
            margin: 0 auto 20px auto;
            display: block;
        }
    }
    &__link {
        color: #FFFFFF;
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;

        a {
            color: #FFFFFF;
        }
    }
}

@media  (max-width: 575px) {
    .header {
        flex-direction: column;

        &__logo {
            width: 250px;
        }
        &__official {
            margin: 10px 0;
            width: auto;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .button {
            width: 155px;
            height: 34px;
            font-size: 14px;
        }
    }
    .promo {

        &__wrapper {
            align-items: center;
        }
        &__header {
            margin-top: 40px;
            font-size: 31px;
            // text-align: center;
        }
        &__supheader {
            font-size: 19px;
            // text-align: center;
        }
        &__icons {
            // flex-direction: column;
            flex-wrap: wrap;
            width: 300px;
            margin: 30px auto 0 auto;
        }
        &__icon:last-child {
            margin: 20px auto;
            display: block;
        }
    }
    .button_main {
        width: 250px;
        height: 45px;
        font-size: 14px;
        margin: 10px auto 0 auto;
    }
}
